

.filterButton {
    margin-inline: 8px;
    border-radius: 100px;
}

.filter_list {
    display: flex;
    align-items: center;
    margin: 12px 0 24px 0;
}

.swipe_image {
    border-radius: 12px;
    margin-right: 27px;
}

.search_panel {
    margin: 0 27px 43px 27px;
}

.search_page {
    display: flex;
}

.search_name {
    margin-bottom: 27px;
}

.search_about {
    margin-bottom: 27px;
}

.search_education {
    margin-bottom: 27px;
}

.search_skills {
    margin-bottom: 27px;
}

.search_tech {
    margin-bottom: 27px;
}

.search_projects{
    margin-bottom: 27px;
}

.search_name_text {
    font-size: 26px;
}

.search_status {
    font-size: 15px;
}

.about_title {
    font-size: 15px;
}

.about_text {
    font-size: 15px;
}

.search_title {
    font-size: 15px;
}

.education_place {
    text-align: center;
    display:inline-block;
    margin-right: 12px;
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    color: #792EC0;
    background-color: #CCD3FF;
    font-size: 15px;
}

.education_speciality {
    text-align: center;
    display:inline-block;
    margin-right: 12px;
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    color: #2787F5;
    background-color: #CCE3FD;
    font-size: 15px;
}

.skills_element {
    text-align: center;
    display:inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    color: #76787A;
    background-color: #F0F2F5;
    font-size: 15px;
}

.skills_element_active {
    text-align: center;
    display:inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    color: #2787F5;
    background-color: #CCE3FD;
    font-size: 15px;
}

.tech_element {
    text-align: center;
    display:inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    color: #76787A;
    background-color: #F0F2F5;
    font-size: 15px;
}

.tech_element_active {
    text-align: center;
    display:inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 6px 12px 6px 12px;
    border-radius: 100px;
    color: #2787F5;
    background-color: #CCE3FD;
    font-size: 15px;
}